/*
    Document   : green_form
    Created on : May 8, 2011, 11:22:28 PM
    Author     : TerryX
*/

.green-form{
  display: block;
}
.green-form h1 {
  text-align: right;
  margin-right: 25px;
  font-style: italic;
}
.green-form input {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -khtml-border-radius: 4px;
  border: solid 1px #9A9A9A;
  padding: 7px;
  width:220px;
  background: #FFFFFF;
}
.green-form input[type=checkbox]{
	width:15px;
	padding: 0;
}

.green-form input:focus, .green-form button:focus {
  outline: none;
  -webkit-box-shadow: inset 0 1px 1px #4A97BA, inset 0px -1px 1px #4A97BA, 0 0 8px #4A97BA;
  -moz-box-shadow: inset 0 1px 1px #4A97BA, inset 0px -1px 1px #4A97BA, 0 0 8px #4A97BA;
  -o-box-shadow: inset 0 1px 1px #4A97BA, inset 0px -1px 1px #4A97BA, 0 0 8px #4A97BA;
  -khtml-box-shadow: inset 0 1px 1px #4A97BA, inset 0px -1px 1px #4A97BA, 0 0 8px #4A97BA;
  box-shadow: inset 0 1px 1px #4A97BA, inset 0px -1px 1px #4A97BA, 0 0 8px #4A97BA;
  background-color: #ccffcc;
}
.green-form input[type=submit], .green-form input[type=button]{
  margin: 20px 5px;
  width: 77px;
  padding: 5px 6px;
  border-top: 1px solid #BAD300;
  border-left: 1px solid #A9C817;
  border-right: 1px solid #7DAB00;
  border-bottom: 1px solid #578900;
  background-color: #336633;
  color: #FFFFFF;
  letter-spacing:1px;
  font-weight: bold;
  font-size: 13px;
  -webkit-box-shadow: inset  0 0 1px #BAD300;
  -moz-box-shadow: inset  0 0 1px #BAD300;
  -o-box-shadow: inset 0 0 1px #BAD300;
  -khtml-box-shadow:  inset 0 0 1px #BAD300;
  box-shadow: inset 0 0 1px #BAD300;
  cursor: pointer;
}
.green-form input[type=submit]:hover, .green-form input[type=button]:hover{
  background-color: #A9C817;
}
/*for FireFox*/
.green-form input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
  border : 0px;
}

/*for IE8 */
.green-form input[type="submit"]:focus, .green-form input[type="button"]:focus{
  outline : none;
}

.green-form input[type=submit]:active, .green-form input[type=button]:active{
  -moz-transform:scale(0.92);
  -webkit-transform:scale(0.92);
  -moz-box-shadow:0 0px 3px #AAA;
  -webkit-box-shadow:0 0px 3px #AAA;
}
.green-form label{
  font-weight: bold;
  display:block;
  margin: 15px 0 5px;
  padding: 5px;
}

.green-form .ispan {
  font-style: italic;
  color:#9A9A9A;
}
.green-form .dual_left{
  float:left;
  width:270px;
}

.d-name {
  padding:20px 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, serif;
  font-size: 14px;
  font-weight: bold;
  color: #0000FF;
}
.right {
 text-align: right;
}

.green-form label.flat {
  font-weight: bold;
  display:inline-block;
  margin: 20px 20px 5px 0;
  padding: 5px;
}
.green-form input.title {
	width: 300px;
}
.green-form textarea {
	border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -khtml-border-radius: 4px;
  border: solid 1px #9A9A9A;
  padding: 7px;
  line-height: 21px;
  background: #FFFFFF;
}