body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  background: #FFF;
}
h1, h2, h3, h4, h5, h6 {
  padding: 0 5px;
}
a{
  text-decoration: none;
}
a.bold {
  font-weight: bold;
  padding:5px;
}
a:link    {color:#0000FF;}
a:visited {color:#0000FF;}
a:hover   {color:red;}
a:active  {color:yellow;}
img{
  border: none;
}
#header{
  margin:5px auto;
  width:1020px;
}
#logo{

  height: 100px;

}
#container{
  margin:0 auto;
  padding:0;
  width: 1020px;
  line-height: 18px;

}
#main-content {
  float:left;
  width:670px;
  margin:0;
  padding:0;

}
#main-content .content {
  margin-top: 5px;
  padding:10px;
  background-color: #f3f3f3;
  border:1px solid #999999;
}
#side-content{
  margin-left:20px;
  padding:0;
  width:330px;
  float:left;
}

#side-content .content {
  margin-top: 5px;
  padding:10px;
  min-height: 300px;
  border:1px solid #999999;
}
/*#content {
border-radius: 8px;
  -webkit-border-radius:8px;
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;
}*/
#footer{
  clear:both;
  margin: 0 auto;
  width:1020px;
}

.clearall:after{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.clear{
  clear:both;
}
#loader{
  position: absolute;
  z-index: 1000;
  width:100%;
  display:block;
  background: #000 url(../img/ajax-loader.gif) no-repeat center center;
  opacity:0.6;
}
#progress{
  position: absolute;
  top:42%;
  left:37%;
  z-index: 1500;
  width:32px;
  height:32px;
  display:none;
  background: url(../img/ajax-loader.gif) no-repeat center center;
}
#nav {
  height: 60px;
  background: url(../img/nav-bg.png) repeat-x;
  display:block;
  min-width: 1180px;
}
#nav-content {
  margin:0 auto;
  width: 1020px;

}
#nav a  {
  float: left;
  font-size: 16px;
  width: 88px;
  padding: 20px;
  text-align: center;
  color: #FFF;
}
#nav a:hover {
  color: #FFF;
  font-weight: bold;
}
#menu {
  margin-top:5px;
  padding: 5px;
  background: url(../img/menu-bg.png) repeat-x;
  text-align: center;
}
#menu a {
  margin:auto;
  padding: 0 10px;
  text-indent: 8px;
  color:#fff;
}
#menu a:hover {
  color:#ffff33;
}